.flex-container {
  display: flex;                /* Flex ON */
  justify-content: center;      /* Horizontal center */
  align-items: center;          /* Vertical center */
  height: 200px;
  background: lightgray;
}

.box {
  width: 80px;
  height: 50px;
  background: lightblue;
  margin: 10px;
  text-align: center;
  line-height: 50px;
}