@property --my-bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: lightgray;
}

div {
  width: 300px;
  height: 150px;
  padding: 15px;
  background-color: var(--my-bg-color);
}

.fresh {
    --my-bg-color: #ff6347;
}