.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px; /* 3 columns */
  grid-template-rows: 50px 50px;           /* 2 rows */
  gap: 10px;                               /* space between boxes */
}
.box {
  background-color: lightblue;
  text-align: center;
  line-height: 50px;
}